.footer {
    width: 100%;
    height: 150px;
    display: flex;
    padding: 30px;
    padding-bottom: 0px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 0px 0px;
}

.footer .footer__logo {
    width: 25%;
}

.footer .footer__links {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
}

.footer .footer__links .footer__links__left, .footer__links__right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer .footer__links .footer__links__left p {
    cursor: pointer;
}

.footer .footer__social {
    width: 25%;
    display: flex;
    justify-content: right;
}

.footer .footer__social .footer__social__icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}